<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <thead>
    <tr class="menu">
        <th>ID</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal type</th>
        <th>Is king</th>
    </tr>
    </thead>

    <tbody>

<tr th:style="${account.getKing()} ? 'background-color : red'" th:each = " account : ${accounts}"   >

    <td th:text="${accountStat.index}"></td>
    <td th:text = "${account.name}" ></td>
    <td th:text = "${#numbers.formatDecimal(account.balance,0,2) + ' Zeb'}"></td>
    <td th:text = "${account.animalType}"></td>
    <td th:text = "${account.getKing()}"></td>

</tr>
    </tbody>
</table>
</body>
</html>